@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700');

* {
    font-family: 'Roboto';
    color: var(--text-gray);
    font-weight: 400;
}

.App {
    padding: 50px;
    width: 100%;
    background-color: #202124;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.App h1 {
    margin: 0px;
}

:root {
    --text-gray: #e8eaed;
    --border-gray: #5f6368;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-gray);
    padding: 30px 30px;
    height: 500px;
    width: 300px;
    border-radius: 5px;
}

.container h1 {
    text-decoration: underline;
}

input {
    color: black;
}

input[type='checkbox'] {
    /*background-color: #202124;*/
    cursor: pointer;
    margin-right: 10px;
}

button {
    color: black;
}

input {
    outline: none;
    background-color: transparent;
    color: var(--text-gray);
    border: none;
}

.container input {
    font-size: 1.375rem;
    margin-bottom: 20px;
}

hr {
    border: 0;
    border-top: 0.5px solid var(--border-gray);
    width: 100%;
}

p {
    font-size: 1rem;
}
